<div class="display-flex flex-row header">
  <div class="logo">{{user.username}}'s Profile</div>
</div>

<div class="profile-container">
  <div class="row">

    <div class="col-4 profile-container">
      <div class="profile-card">
        <img
          src="/imgs/head-shot.png"
          alt="Profile Image"
          class="profile-img"
        />
        <div class="profile-username">{{user.username}}</div>
        <div class="profile-email">{{user.email}}</div>
        <div class="profile-streak">
          <span class="material-symbols-outlined">
            browse_activity
          </span>Streak: {{streak}}
        </div>

      </div>
    </div>

    <div class="col-4 profile-container">
      <input type="username" id="usernameUpdate" class="form-control" placeholder="Username">
      <button id="usernameBtn" data-userId="{{user.id}}">Update</button>
      <input type="email" id="emailUpdate" class="form-control" placeholder="Email">
      <button id="emailBtn" data-userId="{{user.id}}">Update</button>
      <input type="password" id="passwordUpdate" class="form-control" placeholder="Password">
      <button id="passwordBtn" data-userId="{{user.id}}">Update</button>
      
    </div>
    <div class="col-4 profile-container">
      <button id="deleteUser" data-userId="{{user.id}}">Delete</button>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>